{% extends 'base.html' %}

{% block content %}
  <h1>{{ person.username}}님의 프로필</h1>
  <hr>
  <div id="follow-cnt">
    팔로워 : {{person.followers.all|length}} |팔로우 : {{person.followings.all|length}} |
    <hr>
  </div>
    날 팔로우 하는 사람  : 
    {% for person in person.followers.all  %}
      {{person}}
    {% endfor %}
    |
    팔로잉 하는 사람  : 
   
    {% for person in person.followings.all  %}      
      {{person}}
    {% endfor %}
    <hr>
  <div>
    {% if user != person %}
      <form data-person-pk = "{{person.pk}}" id="follow_form" action="{% url 'accounts:follow' person.pk %}" method="POST">
        {% csrf_token %}
        {% if user in person.followers.all %}
          <button id="follow-button">언팔</button>
        {% else %}
          <button id="follow-button">팔로우</button>
        {% endif %}

      </form>
    {% endif %}
  </div>

  {% comment %} 작성한 게시글 {% endcomment %}
  <h2>{{person.username}}이 작성한 게시글</h2>

  {% for article in person.article_set.all  %}
    <p>{{article.title}}</p>
  {% endfor %}

  {% comment %} 작성한 댓글 {% endcomment %}
  <h2>{{person.username}}이 작성한 댓글</h2>
  {% for comment in person.comment_set.all %}
    <p>{{comment.content}}</p>
  
  {% endfor %}
  {% comment %} 좋아요를 누른 게시물  {% endcomment %}
  <h2>{{person.username}}이 좋아요를 누른 게시글</h2>
  {% for article in person.like_articles.all %}
    <p>{{article.title}}| 게시글의 좋아요 수 :{{ article.like_users.all | length }} </p>
  {% endfor %}
  <a class="btn btn-warning" href="{% url 'articles:index' %}">back</a>

  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
    const form = document.querySelector('#follow_form')
    const personPk = form.dataset.personPk
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    // console.log(form.dataset.personPk)
    form.addEventListener('submit',function(event){
      event.preventDefault()
      axios({
        method : 'post',
        url : `/accounts/${personPk}/follow/`,
        headers: {
          'X-CSRFToken' : csrftoken
        },
      })
      .then(res => {
        const liked = res.data.liked
        // console.log(res)
        const button = document.querySelector('#follow-button')
        if (liked === true) {
          button.innerText = '언팔'
        }else{
          button.innerText = '팔로우'
        }
        // console.log(res.data)
        const followCnt = document.querySelector('#follow-cnt')
        const followingCnt = res.data.following_cnt
        const follwerCnt = res.data.follower_cnt
        followCnt.innerText = `팔로워 : ${follwerCnt} |팔로우 : ${followingCnt} |`
        const hr = document.createElement('hr')
        followCnt.append(hr)
        // followCnt.append(hr)
      })
      // axios.post(`/accounts/${personPk}/follow/`)
      // .then(res=>{
      //   console.log(res)
      // })
    })
  </script>
{% endblock content %}